.glowButton {
  /*margin-top: 100px;*/
  text-align: center;
  /* display: block; */
  background-color: black;
  color: #fff;
  margin: 10px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 13px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px #00ff95,
      0 0 70px #00d5ff, 0 0 80px #0ba9ca;
  -webkit-animation: blinkButton 0.7s infinite alternate;
  animation: blinkButton 0.7s infinite alternate;
}


@-webkit-keyframes blinkButton {
  100% {
    box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px #00ff95,
      0 0 70px #00d5ff, 0 0 80px #0ba9ca;
  }
}

@keyframes blinkButton {
  100% {
    box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px #00ff95,
      0 0 70px #00d5ff, 0 0 80px #0ba9ca;
  }

  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }


}

.move {
  animation: clip 10s infinite alternate;
}

.littleBigger {
  text-align: center;
  color: gold;
  border: none;
  font: 2.5em sans-serif;
  animation: blink 12s infinite alternate;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: rgb(235, 253, 255)(255, 254, 254);
}

#vantajs {
  height: 100vh;
  
}


.clip-animation { 
  clip-path: circle(0%);
  background-image: radial-gradient(circle, white, blue, rgb(183, 255, 183));
  opacity: 70%;
  width: 500px;
  height: 500px;
  animation: clip 21s infinite alternate;
}

@keyframes clip {
  0% {
    clip-path: circle(47%);
    transform: translate(-1%);
    /* clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%); */
  }

  2% {
    clip-path: circle(45%);
    transform: translate(1%);
  }

  5% {
    clip-path: circle(49%);
    transform: translate(-1%);
  }

  21% {
    clip-path: circle(48%);
    transform: translate(1%);
  }
  
  25% {
    transform: translate(-1%);
  }

  30% {
    transform: translateY(1%);
  }

  35% {
    transform: translate(-1%);
  }

  40% {
    transform: translate(1%);
  }

  45% {
    transform: translateY(-1%);
  }

  50% {
    transform: translate(1%);
  }

  55% {
    transform: translate(-1%);
  }

  60% {
    transform: translateY(1%);
  }

  65% {
    transform: translate(-2%);
  }

  70% {
    transform: translate(2%);
  }

  75% {
    transform: translateY(-2%);
  }

  80% {
    transform: translate(1%);
  }

  85% {
    transform: translate(-1%);
  }

  90% {
    transform: translateY(1%);
  }

  95% {
    clip-path: circle(50%);
    transform: translate(-1%);
  }

  97% {
    clip-path: circle(3%);
    transform: scaleX(3%);
  }

  100% {
    clip-path: circle(5%);
    transform: translate(0%);
    /* clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%); */
  }
}

.glow {
border-radius: 50%;
/* color: #fff;
box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 50px #0ba9ca,
  0 0 40px #0ba9ca, 0 0 70px #0ba9ca;
-webkit-animation: blink 21s; */
animation: blink 7s infinite alternate;
}

@keyframes blink {

10% {
  box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
    0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
    background-image: radial-gradient(circle, black, blue, white);
    opacity: 70%;
}

97% {
  box-shadow: 20 0 13px #fff, -10 -10 21px #fff, 20 20 34px #fff, 30 30 55px #0ba9ca,
    10 10 89px #0ba9ca, 10 10 144px #0ba9ca;
    background-image: radial-gradient(circle, black, blue, white);
    opacity: 55%;
}

98% {
  box-shadow: 0 0 55px rgb(0, 0, 0), 0 0 34px rgb(0, 0, 0), 0 0 21px rgb(0, 0, 0), 0 0 13px #0ba9ca,
    0 0 5px #0ba9ca, 0 0 5px #0ba9ca, 0 0 500px #66ffc4, 0 0 600px #ff0080;
    background-image: radial-gradient(circle, black, blue, white);
    opacity: 35%;
}

99% {
  box-shadow: 0 0 200px #fffdfe, 0 0 34px #ffffff, 0 0 210px rgb(255, 235, 235), 0 0 130px #bff4ff,
    0 0 50px #d5ffd3, 0 0 50px #ffffff, 0 0 500px #ffffff, 0 0 600px #ffffff;
    background-image: radial-gradient(circle, rgb(4, 43, 22), rgb(217, 251, 255), white);
    opacity: 30%;
}

100% {
  box-shadow: 0 0 0;
  background-image: radial-gradient(circle, rgb(4, 43, 22), rgb(217, 251, 255), white);
  opacity: 10%;
}
}
